<div class="wish-list-wrapper m-2">
  <span></span>
  <div class="wish-list">
    <p translate>wishList</p>
    <ul class="wish-list__list">
      <li *ngFor="let item of wishList">
        <p>
          {{item.name}}
          <span (click)="removeProductFromWishList(item)"></span>
        </p>
      </li>
    </ul>

    <p class="wish-list__sum" translate>
      <span translate>sum</span>
      <span>{{wishListPrice}}</span>
      <span translate>rur</span>
    </p>

    <p (click)="clearWishList()"
       translate>
      clearList
    </p>
  </div>
</div>
